a:link, a:visited {
  background-color:  white;
  color: black;
  border: 2px DimGray ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: Gray ;
  color:  white;
}
input[type=text], select  {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
body{
    background-image: url('coffee-house-img.jpg');
    background-size:100%;
    padding: 30px;
     text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #505050;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #505050;
}

div {
  border-radius: 5px;
  background-color: #D3D3D3;
  padding: 20px;
}
